// Breakpoints
$breakpoint-mobile: 690px;
$breakpoint-mobile_tablet: 1024px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1280px;

// color
$white:#fff;
$black:#333;
$red:#e42b29;
$tomato:#ff6664;
$skyblue:#05b4d9;
$blue:#0e76bc;
$yellow:#f0a44f;
$orange:#f0a44f;
$gray:#f1f1f1;
$mint:#60bec1;

//gap
$columnGap:25px;$minH:540px;