<footer class="footer">
  <nav class="gnb">
    <ul class="gnb_lst">
      <li><a href="../html/main.html" target="_top">Home</a></li>
      <li><a href="../html/about_da.html#cus" target="_self">Contact us</a></li>
      <li><a href="mailto:yongdal@yongdal.or.kr">E-mail</a></li>
    </ul>
  </nav>
  <p class="copy"><span class="hide_mobile">Copyright ⓒ</span>
    <img srcset="../images/footer_logo.png 286w"
         sizes="(min-width: 695px) 286px, 200px"
         alt="서울特別市用達貨物自動車運送事業聯合會." />
    All rights reserved.
  </p>
</footer>